.nt_se_1590219862375 {
    margin-top: 30px !important;
    margin-right: !important;
    margin-bottom: 30px !important;
    margin-left: !important;
}

#bk_1590219862375-0 .nt_promotion_html {
    top: 50%;
    left: 11%;
    transform: translate(-11%, -50%);
}

#bk_1590219862375-0 .nt_promotion_html, #bk_1590219862375-0 .nt_promotion_html > *, #bk_1590219862375-0 .nt_promotion_html .btn_icon_true:after {
    color: #222222
}

#bk_1590219862375-0 .nt_promotion > a:after {
    background-color: #000;
    opacity: 0.0
}

#bk_1590219862375-0 .nt_bg_lz {
    padding-top: 59.60264900662252%;
}

#bk_1590219862375-1 .nt_promotion_html {
    top: 50%;
    left: 11%;
    transform: translate(-11%, -50%);
}

#bk_1590219862375-1 .nt_promotion_html, #bk_1590219862375-1 .nt_promotion_html > *, #bk_1590219862375-1 .nt_promotion_html .btn_icon_true:after {
    color: #222222
}

#bk_1590219862375-1 .nt_promotion > a:after {
    background-color: #000;
    opacity: 0.0
}

#bk_1590219862375-1 .nt_bg_lz {
    padding-top: 60.47516198704104%;
}

#bk_1590286940815 .nt_promotion_html {
    top: 50%;
    left: 11%;
    transform: translate(-11%, -50%);
}

#bk_1590286940815 .nt_promotion_html, #bk_1590286940815 .nt_promotion_html > *, #bk_1590286940815 .nt_promotion_html .btn_icon_true:after {
    color: #222222
}

#bk_1590286940815 .nt_promotion > a:after {
    background-color: #000;
    opacity: 0.0
}

#bk_1590286940815 .nt_bg_lz {
    padding-top: 59.60264900662252%;
}
