#shopify-section-1581505806578 {
    background-color: #efefef !important;
}

.nt_se_1581505806578 .img_slider_block {
    padding-top: 400px
}

@media (min-width: 768px) {
    .nt_se_1581505806578 .img_slider_block {
        padding-top: 550px
    }
}

@media (min-width: 1025px) {
    .nt_se_1581505806578 .img_slider_block {
        padding-top: 620px
    }
}

#nt_1585640154849 .nt_img_txt > a:after {
    background-color: #000;
    opacity: 0.0
}

#nt_1585640154849 .pa_txts {
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

@media (min-width: 768px) {
    #nt_1585640154849 .pa_txts {
        top: 50%;
        left: 0%;
        transform: translate(-0%, -50%);
    }
}

#b_1585640505189 {
    font-size: 15px;
    font-weight: 500;
    color: #e4573d
}

@media (min-width: 768px) {
    #b_1585640505189 {
        font-size: 22px
    }
}

#b_1585640508369 {
    height: 7px
}

@media (min-width: 768px) {
    #b_1585640508369 {
        height: 15px
    }
}

#b_1585640512264 {
    font-size: 29px;
    font-weight: 600;
    color: #222222
}

@media (min-width: 768px) {
    #b_1585640512264 {
        font-size: 45px
    }
}

#b_1585640518653 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1585640518653 {
        height: 20px
    }
}

#b_1590565477331 {
    font-size: 14px;
    font-weight: 400;
    color: #696969
}

@media (min-width: 768px) {
    #b_1590565477331 {
        font-size: 16px
    }
}

#b_1590375921354 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1590375921354 {
        height: 20px
    }
}

#b_1585640453760 {
    font-weight: 600;
    min-height: 45px;
    color: #ffffff;
    background-color: #FF5733;
    border-color: #FF5733
}

#b_1585640453760.btn_icon_true:after {
    color: #ffffff
}

#nt_1585640159361 .nt_img_txt > a:after {
    background-color: #000;
    opacity: 0.0
}

#nt_1585640159361 .pa_txts {
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

@media (min-width: 768px) {
    #nt_1585640159361 .pa_txts {
        top: 50%;
        left: 0%;
        transform: translate(-0%, -50%);
    }
}

#b_1585640474337 {
    font-size: 16px;
    font-weight: 600;
    color: #e4573d
}

@media (min-width: 768px) {
    #b_1585640474337 {
        font-size: 22px
    }
}

#b_1585640490350 {
    height: 7px
}

@media (min-width: 768px) {
    #b_1585640490350 {
        height: 15px
    }
}

#b_1585640480446 {
    font-size: 29px;
    font-weight: 600;
    color: #222222
}

@media (min-width: 768px) {
    #b_1585640480446 {
        font-size: 45px
    }
}

#b_1585640492985 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1585640492985 {
        height: 20px
    }
}

#b_1590376518903 {
    font-size: 14px;
    font-weight: 400;
    color: #696969
}

@media (min-width: 768px) {
    #b_1590376518903 {
        font-size: 16px
    }
}

#b_1590376535412 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1590376535412 {
        height: 20px
    }
}

#b_1585640485544 {
    font-weight: 600;
    min-height: 45px;
    color: #ffffff;
    background-color: #FF5733;
    border-color: #FF5733
}

#b_1585640485544.btn_icon_true:after {
    color: #ffffff
}

#nt_1585640162346 .nt_img_txt > a:after {
    background-color: #000;
    opacity: 0.0
}

#nt_1585640162346 .pa_txts {
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

@media (min-width: 768px) {
    #nt_1585640162346 .pa_txts {
        top: 50%;
        left: 0%;
        transform: translate(-0%, -50%);
    }
}

#b_1585640443284 {
    font-size: 14px;
    font-weight: 400;
    color: #222222
}

@media (min-width: 768px) {
    #b_1585640443284 {
        font-size: 22px
    }
}

#b_1585640460694 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1585640460694 {
        height: 15px
    }
}

#b_1585640447349 {
    font-size: 28px;
    font-weight: 600;
    color: #222222
}

@media (min-width: 768px) {
    #b_1585640447349 {
        font-size: 45px
    }
}

#b_1590563062221 {
    height: 4px
}

@media (min-width: 768px) {
    #b_1590563062221 {
        height: 10px
    }
}

#b_1590563045753 {
    font-size: 28px;
    font-weight: 600;
    color: #222222
}

@media (min-width: 768px) {
    #b_1590563045753 {
        font-size: 45px
    }
}

#b_1585640466340 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1585640466340 {
        height: 20px
    }
}

#b_1590375776939 {
    font-size: 14px;
    font-weight: 400;
    color: #696969
}

@media (min-width: 768px) {
    #b_1590375776939 {
        font-size: 16px
    }
}

#b_1590564996993 {
    height: 10px
}

@media (min-width: 768px) {
    #b_1590564996993 {
        height: 20px
    }
}

#b_1585640524232 {
    font-weight: 600;
    min-height: 45px;
    color: #ffffff;
    background-color: #FF5733;
    border-color: #FF5733
}

#b_1585640524232.btn_icon_true:after {
    color: #ffffff
}








